// For naming, read: http://davidwalsh.name/sass-color-variables-dont-suck
// Naming generator: http://chir.ag/projects/name-that-color/

$color__alto:       #ddd;
$color__tundora:    #444;
$color__mine-shaft: #333;

$color__monza:      #e4002b;