$container-gutter: (
	s: 2rem,
	m: 4rem,
	l: 6rem
);

$grid-gutter: (
	s: 2rem,
	m: 2.5rem,
	l: 3rem
);

$mq-breakpoints: (
	s: 20em,
	m: 40em,
	l: 64em,
);

// Debug breakpoints
// $mq-show-breakpoints: map-keys($mq-breakpoints);

$max-site-width: 100rem + (map-get($container-gutter, l) * 2);