.property {
	position: relative;
	border-bottom: 0.1rem solid $color__alto;
	margin-bottom: 2rem;
	text-decoration: none;
	color: $color__mine-shaft;
	opacity: 1;
	transition: opacity ease-out 300ms, box-shadow ease-out 300ms;
	box-shadow: 0 0.2rem 0.3rem rgba(0,0,0, 0.1);

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		box-shadow: 0 0.4rem 0.9rem rgba(0,0,0, 0.3);

		.property__action {
			z-index: 2;
			opacity: 1;
			transition: z-index 1ms, opacity ease-out 300ms;
		}

		.property__action-inner {
			transform: scale(1, 1);
		}
	}

	&.property--added {
		opacity: 0;
	}
}

.property__item {
	display: block;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0, 0);

	&:visited {
		text-decoration: none;
	}
}

.property__agent {
	position: relative;
	margin-top:    0;
	margin-bottom: 0;
	height: 4rem;
	padding: 0.5rem 1rem;
}

.property__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	padding-top:    1rem;
	padding-bottom: 1rem;
	border-left:  0.1rem solid $color__alto;
	border-right: 0.1rem solid $color__alto;

	@include mq($from: m) {
		height: 7rem;
		padding-top:    1.5rem;
		padding-bottom: 1.5rem;
	}
}

.property__actions {
	display: flex;
	padding-left: 2rem;

	@include mq($from: m) {
		padding-left: 3rem;
	}

	.property__action-icon {
		width:  1.6rem;
		height: 1.6rem;
	}
}

.property__price {
	display: block;
	position: relative;
	margin: 0;
	padding: 0.5rem 2rem;
	color: $color__mine-shaft;
	font-size: 1.5rem;
	text-align: right;
}

// 1. There are other ways around this, as it's pretty cutting edge...
//    but for now it lets clicks through :)
// 2. To avoid using JS and display: none; we transition the z-index
//    to display behind the block
.property__action {
	display: flex;
	position: absolute;
	top:    4rem;
	bottom: 6rem;
	left:   0;
	right:  0;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255, 0.3);
	opacity: 0;
	z-index: -1; // [2]
	pointer-events: none; // [1]
	transition: z-index 1000ms, opacity ease-out 300ms;
	color: black;
	font-weight: 300;

	@include mq($from: m) {
		bottom: 7rem;
	}
}

// 1. This is a bleeding-edge property which only works with Safari 9 for now...
.property__action-inner {
	display: block;
	padding: 1rem 2rem;
	background-color: rgba(255,255,255, 0.85);
	text-align: center;
	border-radius: 0.5rem;
	transform: scale(0.9, 0.9);
	transition: transform ease-out 200ms;
	backdrop-filter: blur(1rem) saturate(100%); // [1]
}

.property__action-icon {
	width: 2.4rem;
}